name: "Terraform Apply"

on:
  workflow_run:
    workflows: ["Terraform Plan"]
    types:
      - completed
  pull_request:
    branches:
      - main

env:
  TF_CLOUD_ORGANIZATION: "tastytap"
  TF_API_TOKEN: "${{ secrets.TF_API_TOKEN }}"
  TF_WORKSPACE: "terraform-tastytap-infra"
  CONFIG_DIRECTORY: "./"

jobs:
  apply:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Upload Configuration
      uses: hashicorp/tfc-workflows-github/actions/upload-configuration@v1.0.4
      id: apply-upload
      with:
        workspace: ${{ env.TF_WORKSPACE }}
        directory: ${{ env.CONFIG_DIRECTORY }}

    - name: Create Apply Run
      uses: hashicorp/tfc-workflows-github/actions/create-run@v1.0.4
      id: apply-run
      with:
        workspace: ${{ env.TF_WORKSPACE }}
        configuration_version: ${{ steps.apply-upload.outputs.configuration_version_id }}
        
    - name: Get Apply Output
      uses: hashicorp/tfc-workflows-github/actions/plan-output@v1.0.4
      id: apply-output
      with:
        plan: ${{ fromJSON(steps.apply-run.outputs.payload).data.relationships.plan.data.id }}

    - name: Debug Apply Output
      run: echo "${{ toJson(steps.apply-output.outputs) }}"

    - name: Update PR
      uses: actions/github-script@v6
      id: apply-comment
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const output = `#### Terraform Cloud Apply Output
              \`\`\`
              Apply Run: [View here](${{ steps.apply-run.outputs.run_link }})
              \`\`\`
              `;
          github.rest.issues.createComment({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: output
          });